<div class="about-section">
    <h1>About Me Page</h1>
    <p></p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <div class="row">
    <div class="column">
        <div class="card">
            <div class="container">
                <img src="/assets/sachin_hatvalne.jpg" alt="Sachin" style="width:100%">
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
       
        <div class="container">
          <h2>Sachin Hatvalne</h2>
          <p class="title">Frontend Developer & Technical Lead </p>
          <p>I work at HCL Technologies GmbH. Looking forward to work with Pinguin AG</p>
          <p>Contact me at: hatvalnsachin@gmail.com</p>
          <p><a href="assets/Sachin_Hatvalne_7.pdf">View Profile</a></p>
          <p><button class="button" (click)="openEmail('hatvalnsachin@gmail.com')">Contact</button></p>
        </div>
      </div>
    </div>
  
  </div>